{% extends 'base.html' %}
{% block title %} User page {% endblock %}
{% block body %}
<h1 class="text-center">Agrega un nuevo mensaje</h1>
<form method="post">
    <label for="title" class="form-label">Nombre de Usuarios</label>
    <input type="text" name="username" id="username"
           placeholder="Tu nombre de Usuario "
           value="{{ request.form['username'] }}"
            class="form-control"></input>
    <label for="email" class="form-label">Ingresa tu correo</label>
    <input type="text" name="email" id="email"
           placeholder="Escribe tu email "
           value="{{ request.form['email'] }}"
           class="form-control">
    <label for="password" class="form-label" >Escribe tu contraseña</label>
    <input type="password" name="password" id="email"
              placeholder="Tu contraseña"
              value="{{ request.form['password'] }}"
              class="form-control">
    <label for="password" class="form-label" >Confirma tu contraseña</label>
    <input type="password" name="password_confirm" id="password_confirm"
             placeholder="confirmar tu contraseña"
             value="{{ request.form['password'] }}"
             class="form-control">
    <button type="submit" class="btn btn-primary mt-3">Enviar formulario</button>
</form>
{% endblock %}
